
```css
body {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
}

td {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #f00;
}

.error {
  color: #f00;
}
```
